*{
    list-style-type: none;
    text-decoration: none;
}

.header{
    display: flex;    
    background-color: blueviolet;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    width: 6%;
    padding: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: yellow;
}

.left-nav{
    display: flex;
    gap: 2 0px;
}