*{
    list-style-type: none;
    text-decoration: none;
}

.header{
    display: flex;    
    background-color: whitesmoke;
    width: 100%;
}

.logo{
    display: flex;
    align-items: center;
    width: 6%;
    padding: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 20px;
}

.left-nav{
    display: flex;
    gap: 20px;
}

.right-nav{
    position: relative;
    min-width: 70px;
}

.toggle{
    position: absolute;
    display: none;
}