<div class="header">
    <div class="logo">
        <a href="">Recipe Book</a>
    </div>
    <nav>
        <ul class="left-nav">
            <li ><a routerLinkActive="active" routerLink="/recipes">Recipes</a></li>
            <li ><a routerLinkActive="active" routerLink="/shoppinglist">Shopping List</a></li>
        </ul>
        <ul class="right-nav">
            <li><a style="cursor: pointer" class="manage">Manage</a></li>
            <ul class="toggle" #menu>
                <li><a style="cursor: pointer">Save Data</a></li>
                <li><a style="cursor: pointer">Fetch Data</a></li>
            </ul>
        </ul>
    </nav>
</div>