<div>
    <div>
        <img src="" alt="">
    </div>
</div>
<div>
    <div>
        <h1>Recipe Name</h1>
    </div>
</div>
<div>   
        <div>
            <button type="button">Manage Recipe</button>
            <ul class="manage-recipe">
                <li><a href=""></a>To Shopping List</li>
                <li><a href=""></a>Edit Recipe</li>
                <li><a href=""></a>Delete Recipe</li>
            </ul>
        </div>    
</div>
<div>
    <div>
        description
    </div>
</div>
<div>
    <div>
        Ingredients
    </div>
</div>