

.label{
    display: flex;
    padding: 10px;
}

.label input{
    padding: 5px;
    border-radius: 5px;
}

.label-input label{
    margin-right: 5px;
}

button{
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add{
    background-color: green;    
}

.delete{
    background-color: red;    
}

.clear{
    background-color: blue;    
}

.button-section{
    padding: 10px;
    display: flex;
    gap: 10px;
}